@font-face {
    font-family: Futura;
    src: url(../media/Fonts/Futura\ Book\ font.ttf);
}

html{
    width: 100%;
    height: 100%;
    font-family: Futura;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: background 0.5s;
    height: 10vw;
    /* background: darkslategray; */
}

h6{
   margin-bottom: 0;
   cursor: default;
   /* text-decoration: underline; */
}

a, ul{
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0;
    margin-right: 3vw;
}

.tabs{
    display: flex;
    gap: 5vw;
    height: 100%;
    margin-left: 0;
    transition: border 1s;
}
.tab{
    transition: border 0.2s;
    font-size: 1.5vw;
}

.tab:hover{
    border-bottom: solid white;
    border-width: 0.5vw;
}

.dropdown{
    display: none;
}

li{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
    left: 1vw;
    font-weight: bold;
    font-size: 3vw;
    height: 70%;
    display: flex;
    align-items: center;
}

#body{
    width: 100%;
    height: 100%;
    background: #2e2d2c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}