@font-face {
    font-family: Futura;
    src: url(../media/Fonts/Futura\ Book\ font.ttf);
}

html{
    width: 100%;
    min-height: 100vh;
    font-family: Futura;
}

body{
    width: 100%;
    /* height: 100vh; */
    margin: 0;
    background-color: #f7931e;
}

#header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    box-shadow: 1vw 0.5vw 2vw #2e2d2c;
    transition: background 0.2s;
    height: 10vw;
}

#header:hover{
    background: #2e2d2c9f;
}

#hero{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../media/engineers.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}

.heroText{
    position: absolute;
    top: 50vh;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    font-size: 6vw;
    letter-spacing: 0.3vw;
    margin-left: 3vw;
    color: #f6f6f6;
    background: #2e2d2c7f;
    cursor: default;
}

.dot{
    margin-bottom: 1.45vw;
    margin-left: 0.3vw;
    background: #f7931e;
    height: 0.7vw;
    width: 0.7vw;
}

h6{
   margin-bottom: 0;
   cursor: default;
   /* text-decoration: underline; */
}

a, ul{
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0;
    margin-right: 3vw;
}

.tabs{
    display: flex;
    height: 100%;
    margin: 0;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: bold;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 3vw;
    letter-spacing: 0.1vw;
    height: 100%;
    width: 100%;
    transition: height 0.2s;
}

.tab:hover{
    /* background: #f6f6f6; */
    background: #f6f6f6;    
    color: #f7931e;
    height: 120%;
}

.dropdown{
    display: none;
}

li{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    bottom: 2vw;
}

.logo{
    position: relative;
    left: 1.5vw;
    font-weight: bold;
    font-size: 3vw;
    height: 80%;
    display: flex;
    align-items: center;
}

#body{
    position: relative;
    /* width: 100%; */
    min-height: 100%;
    background: #2e2d2c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    /* padding: 5%; */
    border-top: solid #f7931e;
}

.vacancy{
    display: flex;
    gap: 5vw;
    flex-grow: inherit;
    min-height: fit-content;
    padding: 5%;
    border-bottom: 1px solid #f7931e;
    width: 100%;
    margin: 5%;
    color: #f6f6f6;
    background: #f6f6f6;
    box-shadow: 1vw 1vw #f7931e;
}

#searchbar{
    width: 50%;
    height: 5vw;
    color: #2e2d2c;
    font-size: 2vw;
    margin: 5%;
    padding-left: 1vw;
    box-shadow: 1vw 1vw #f7931e;
}

#jobCount{
    width: 100%;
    text-align: center;
    font-size: 2vw;
    color: #f6f6f67a;
}

.text{
    width: 100%;
    height: 100%;
    min-height: fit-content;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    cursor: default;
    color: #2e2d2c;
}

h1{
    color: #f7931e;
    letter-spacing: 0.1vw;
}

.apply{
    width: 30%;
    min-height: 100%;
    border: none;
    background-color: #2e2d2c;
    color: #f6f6f6;
    font-size: 1vw;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
}

.apply:hover{
    background: #f7931e;
    color: white;
}

#footer{
    position: relative;
    background-color: #2e2d2c;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
    /* min-height: 30vh; */
    padding: 5vw;
    gap: 5vw;
    border-top: solid #f7931e;
    border-width: 50%;
}

p > a{
    margin: 0;
}

.footerLogo{
    height: 10vw;
}

.socials{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    /* gap: 1vw; */
    display: none;
}

.social{
    width: 4vw;
}

@media screen and (max-width: 800px){
    #header{
        height: 10vh;
        position: fixed;
    }

    .logo{
        font-size: 3vh;
    }

    #display{
        display: flex;
    }

    .tabs{
        display: none;
        position: absolute;
        flex-direction: column;
        padding: 0;
        margin: 0;
        top: 10vh;
        bottom: 0;
        text-align: center;
        animation: dropdown 0.5s forwards;
        width: 100%;
        gap: 0;
    }

    @keyframes dropdown{
        from{height: 0;}
        to{height: 80vh;}
    }

    .tab{
        background-color: #2e2d2c;
        text-align: center;
        height: 100%;
        width: 100%;
        font-size: 2vh;
        justify-content: center;
    }

    .tab:hover{
        height: 100%;
    }

    li{
        display: flex;
        /* justify-content: center; */
        width: 100%;
        align-items: center;
        bottom: 0;
    }

    .dropdown{
        padding: 0;
        display: flex;
        height: 100%;
    }

    .icon{
        height: 40%;
    }

    .heroText{
        font-size: 6vh;
    }

    .dot{
        margin-bottom: 1.45vh;
        margin-left: 0.3vh;
        background: #f7931e;
        height: 0.7vh;
        width: 0.7vh;
    }

    #thumbnail{
        top: 30vh;
        font-size: 1.5vh;
    }

    .vacancy{
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }

    #searchbar{
        width: 100%;
        height: 5vh;
        font-size: 2vh;
    }

    #jobCount{
        font-size: 2vh;
    }

    .text{
        width: 100%;
        min-height: 30vw;
        font-size: 2.5vh;
    }

    .apply{
        width: 100%;
        height: 10vh;
        font-size: 2vh;
    }

    #footer{
        flex-direction: column;
        padding: 5vh;
    }
    
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0px;
        display: none;
    }
    
    .social{
        width: 4vh;
    }

}