html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: background 0.5s;
    height: 10vw;
}

#header:hover{
    background: darkslategray;
}

a, ul{
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0;
    margin-right: 3vw;
}

.tabs{
    display: flex;
    gap: 5vw;
    height: 100%;
    margin-left: 0;
    transition: border 1s;
}

.tab{
    transition: border 0.2s;
}

.dropdown{
    display: none;
}

.tab:hover{
    border-bottom: solid white;
    border-width: 0.5vw;
}

li{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
    left: 3vw;
    font-weight: bold;
    font-size: 3vw;
    height: 100%;
    display: flex;
    align-items: center;
}

#body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-name: background;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    /* animation-direction: alternate; */
}

@keyframes background{
    0%{background: url('./media/Kitchen-extension-internal-view1.jpg'); background-size: cover; background-position: center;}
    25%{background: url('./media/internal\ kitchen.jpg'); background-size: cover; background-position: center;}
    50%{background: url('./media/extension\ window.webp'); background-size: cover; background-position: center;}
    75%{background: url('./media/outside\ extension.jpg'); background-size: cover; background-position: center;}
    100%{background: url('./media/kitchen-extension-internal.jpg'); background-size: cover; background-position: center;}
}

.statement{
    margin: 0;
    padding: 0;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3vw;
    /* text-align: center; */
    padding: 10vw;
}

@media screen and (max-width: 700px){
    #header{
        height: 10vh;
        /* background: darkslategray; */
    }

    .logo{
        font-size: 3vh;
    }

    #display{
        display: flex;
    }

    .tabs{
        display: none;
        position: absolute;
        flex-direction: column;
        padding: 0;
        margin: 0;
        top: 10vh;
        bottom: 0;
        text-align: center;
        animation: dropdown 0.5s forwards;
        width: 100%;
        gap: 0;
        transition: height 0.5s;
    }

    @keyframes dropdown{
        from{height: 0;}
        to{height: 90vh;}
    }

    .tab{
        background-color: darkslategray;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    li{
        display: flex;
        justify-content: center;
    }

    .dropdown{
        padding: 0;
        display: flex;
        height: 100%;
    }

    .icon{
        height: 40%;
    }

    .statement{
        font-size: 3vh;
    }
}

