@font-face {
    font-family: Futura;
    src: url(../media/Fonts/Futura\ Book\ font.ttf);
}

html{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Futura;
}

body{
    margin: 0;
    max-width: 100%;
    height: 100%;
}

#header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: background 0.5s;
    height: 10vw;
}

#header:hover{
    background: rgba(47, 79, 79, 0.8);
}

a, ul{
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0;
    margin-right: 3vw;
}

.tabs{
    display: flex;
    gap: 5vw;
    height: 100%;
    margin-left: 0;
    transition: border 1s;
}

.tab{
    transition: border 0.2s;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
}

.dropdown{
    display: none;
}

.tab:hover{
    border-bottom: solid white;
    border-width: 0.5vw;
}

li{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
    left: 1.5vw;
    font-weight: bold;
    font-size: 3vw;
    height: 70%;
    display: flex;
    align-items: center;
}

#hero{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-name: background;
    animation-duration: 30s;    
    animation-direction: normal;
    animation-timing-function: steps(1, end);
    animation-iteration-count: infinite;
}

@keyframes background{
    0%{background: url('./media/outside\ extension.jpg'); background-size: cover; background-position: center;}
    20%{background: url('./media/house\ construcion.jpg'); background-size: cover; background-position: center;}
    40%{background: url('./media/extension\ window.webp'); background-size: cover; background-position: center;}
    60%{background: url('./media/housing\ estate.jpg'); background-size: cover; background-position: center;}
    80%{background: url('./media/kitchen-extension-internal.jpg'); background-size: cover; background-position: center;}
    100%{background: url('./media/extension\ scaffold.jpeg'); background-size: cover; background-position: top;}
}


#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background: darkslategray;
}


.para{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    width: 50%;
    text-align: center;
    font-size: 2vw;
    color: white;
    cursor: default;
}

.img1,.img2,.img3,.img4{
    width: 100%;
    min-height: 30vw;
}

.img1{
    background: url('./media/house\ construcion.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    width: 50%;
}

.img2{
    background: url('./media/extension\ window.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 50%;
}


.img3{
    background: url('./media/internal\ kitchen.jpg');
    background-attachment: fixed;
    background-position: center;
}

.statement{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkslategray;
    font-size: 2vw;
    width: 50%;
    /* text-shadow: 0px 0px 10px black; */
    cursor: default;
}

#footer{
    background-color: darkslategray;
    bottom: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    min-height: 30vh;
    padding: 5vw;
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social{
    width: 2vw;
}

@media screen and (max-width: 700px){
    #header{
        height: 10vh;
    }

    .logo{
        font-size: 3vh;
    }

    #display{
        display: flex;
    }

    .tabs{
        display: none;
        position: absolute;
        flex-direction: column;
        padding: 0;
        margin: 0;
        top: 10vh;
        bottom: 0;
        text-align: center;
        animation: dropdown 0.5s forwards;
        width: 100%;
        gap: 0;
    }

    @keyframes dropdown{
        from{height: 0;}
        to{height: 80vh;}
    }

    .tab{
        background-color: darkslategray;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    li{
        display: flex;
        justify-content: center;
    }

    .dropdown{
        padding: 0;
        display: flex;
        height: 100%;
    }

    .icon{
        height: 40%;
    }

    .statement{
        font-size: 3vh;
    }
}

