html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: background 0.5s;
    height: 10vw;
    /* background: darkslategray; */
}

#header:hover{
    background: darkslategray;
}

#thumbnail{
    position: fixed;
    top: 20vw;
    background: darkslategray;
    padding-bottom: 2vw;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5vw;
}

#thumbnail{
    /* margin-top: 10px; */
}

h6{
   margin-bottom: 0; 
}

a, ul{
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0;
    margin-right: 3vw;
}

.tabs{
    display: flex;
    gap: 5vw;
    height: 100%;
    margin-left: 0;
    transition: border 1s;
}
.tab{
    transition: border 0.2s;
}

.tab:hover{
    border-bottom: solid white;
    border-width: 0.5vw;
}

.dropdown{
    display: none;
}

li{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
    left: 3vw;
    font-weight: bold;
    font-size: 3vw;
    height: 100%;
    display: flex;
    align-items: center;
}

#body{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 25vw;
    width: 100%;
    color: white;
    background: darkslategray;
    /* color: darkslategray; */
    transition: 0.3s;
}

.img{
    background: white;
    width: 100%;
    height: 50vw;
}

#imgSurvey{
    background: url('../media/structural-survey.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#imgCalcs{
    background: url('../media/calcs.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#imgDrafting{
    background: url('../media/image.png');
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
}

.text{
    width: 50%;
    min-height: 30vw;
    padding: 10vw;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    background: darkslategray;
    cursor: default;
    /* color: white; */
    /* transition: background 1s; */
}

/* .text:hover{
    background: darkslategray;
    color: white;
} */

.enquire{
    width: 15vw;
    height: 5vw;
    border: none;
    /* background-color: rgba(211, 211, 211, 0.3); */
    background-color: white;
    color: darkslategray;
    transition: background 0.5s;
}

.enquire:hover{
    background: darkslategray;
    color: white;
}

#footer{
    background-color: darkslategray;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    min-height: 30vh;
    padding: 5vw;
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social{
    width: 2vw;
}

@media screen and (max-width: 700px){
    #header{
        height: 10vh;
    }

    .logo{
        font-size: 3vh;
    }

    #display{
        display: flex;
    }

    .tabs{
        display: none;
        position: absolute;
        flex-direction: column;
        padding: 0;
        margin: 0;
        top: 10vh;
        bottom: 0;
        text-align: center;
        animation: dropdown 0.5s forwards;
        width: 100%;
        gap: 0;
    }

    @keyframes dropdown{
        from{height: 0;}
        to{height: 80vh;}
    }

    .tab{
        background-color: darkslategray;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    li{
        display: flex;
        justify-content: center;
    }

    .dropdown{
        padding: 0;
        display: flex;
        height: 100%;
    }

    .icon{
        height: 40%;
    }

    #body > *{
        flex-direction: column;
        height: fit-content;
    }

    .img{
        background: white;
        width: 100%;
        height: 50vh;
    }

    #imgCalcs{
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
    
    
    #imgDraft{
        background-size: contain;
        /* background-position: bottom; */
        background-attachment: scroll;
    }

    #imgSurvey{
        background-size: cover;
        background-position: bottom;
        background-attachment: scroll;
    }

    .text{
        width: 70%;
        min-height: 30vw;
        padding: 10vw;
        font-size: 2vh;
    }

    .enquire{
        width: 15vh;
        height: 5vh;
    }

    #footer{
        min-height: 30vw;
    }

}
