@font-face {
    font-family: Futura;
    src: url(../media/Fonts/Futura\ Book\ font.ttf);
}

html{
    width: 100%;
    height: 100%;
    font-family: Futura;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: background 0.5s;
    height: 10vw;
    background: #2e2d2c7f;
}

/* #header:hover{
    background: rgba(47, 79, 79, 0.8);
} */

#thumbnail{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: #2e2d2c7f;
    padding-bottom: 2vw;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    font-size: 1.5vw;
}

h6{
   /* margin-bottom: 0; */
   cursor: default;
   letter-spacing: 0.1vw;
}

a, ul{
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0;
    margin-right: 3vw;
}

.tabs{
    display: flex;
    gap: 1vw;
    height: 100%;
    margin-left: 0;
    transition: border 1s;
}

.tab{
    display: flex;
    font-size: 1vw;
    font-weight: bold;
    padding-left: 1vw;
    padding-right: 1vw;
    letter-spacing: 0.1vw;
    height: 100%;
    transition: height 0.2s;
}

.tab:hover{
    background: #f6f6f6;
    color: #f7931e;
    height: 120%;
}

.dropdown{
    display: none;
}

li{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 2vw;
}

.logo{
    position: relative;
    left: 1.5vw;
    font-weight: bold;
    font-size: 3vw;
    height: 80%;
    display: flex;
    align-items: center;
}

#body{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 25vw;
    width: 100%;
    color: white;
    background: #2e2d2c;
    /* color: darkslategray; */
    transition: 0.3s;
}

.img{
    background: white;
    width: 100%;
    height: 50vw;
}

#imgSurvey{
    background: url('../media/structural-survey.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#imgCalcs{
    background: url('../media/calcs.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#imgDrafting{
    background: url('../media/image.png');
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
}

.text{
    width: 50%;
    min-height: 30vw;
    padding: 10vw;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    /* background: #2e2d2c; */
    cursor: default;
    /* color: white; */
    /* transition: background 1s; */
}

h1{
    color: #f7931e;
    letter-spacing: 0.1vw;
}

/* .text:hover{
    background: darkslategray;
    color: white;
} */

.enquire{
    width: 15vw;
    height: 5vw;
    border: none;
    /* background-color: rgba(211, 211, 211, 0.3); */
    background-color: white;
    color: #2e2d2c;
    transition: background 0.2s, color 0.2s;
}

.enquire:hover{
    background: #f7931e;
    color: white;
}

#footer{
    background-color: #2e2d2c;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    min-height: 30vh;
    padding: 5vw;
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social{
    width: 2vw;
}

@media screen and (max-width: 700px){
    #header{
        height: 10vh;
    }

    .logo{
        font-size: 3vh;
    }

    #display{
        display: flex;
    }

    .tabs{
        display: none;
        position: absolute;
        flex-direction: column;
        padding: 0;
        margin: 0;
        top: 10vh;
        bottom: 0;
        text-align: center;
        animation: dropdown 0.5s forwards;
        width: 100%;
        gap: 0;
    }

    @keyframes dropdown{
        from{height: 0;}
        to{height: 80vh;}
    }

    .tab{
        background-color: #2e2d2c;
        text-align: center;
        height: 100%;
        width: 100%;
        font-size: 2vh;
    }

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
    }

    .dropdown{
        padding: 0;
        display: flex;
        height: 100%;
    }

    .icon{
        height: 40%;
    }

    #thumbnail{
        top: 30vh;
        font-size: 1.5vh;
    }

    #body > *{
        flex-direction: column;
        height: fit-content;
    }

    .img{
        background: white;
        width: 100%;
        height: 50vh;
    }

    #imgCalcs{
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
    
    
    #imgDraft{
        background-size: contain;
        /* background-position: bottom; */
        background-attachment: scroll;
    }

    #imgSurvey{
        background-size: cover;
        background-position: bottom;
        background-attachment: scroll;
    }

    .text{
        width: 70%;
        min-height: 30vw;
        padding: 10vw;
        font-size: 2.5vh;
    }

    .enquire{
        width: 30vh;
        height: 10vh;
    }

    #footer{
        flex-direction: column;
        min-height: 30vh;
        padding: 5vw;
    }
    
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0px;
    }
    
    .social{
        width: 4vh;
    }

}
