html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#header{
    position: absolute;
    top: 0;
    width: 100%;
    /* background: darkslategray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 10vw;
    transition: background 0.5s;
}

#header:hover{
    background: darkslategray;
}

a, ul{
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0;
    margin-right: 3vw;
}

.tabs{
    display: flex;
    gap: 5vw;
    height: 100%;
    margin-left: 0;
    transition: border 1s;
}

.tab{
    transition: border 0.2s;
}

.tab:hover{
    border-bottom: solid white;
    border-width: 0.5vw;
}

li{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
    left: 3vw;
    font-weight: bold;
    font-size: 3vw;
    height: 100%;
    display: flex;
    align-items: center;
}

#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    /* margin-top: 10vw; */
    /* background: white; */
}

/* .statement{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkslategray;
    font-size: 2vw;
    text-align: center;
    padding: 5vw;
} */

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    height: 50vh;
    margin: 0;
    width: 50%;
    text-align: center;
    font-size: 2vw;
    color: darkslategray;
}

.img1,.img2,.img3,.img4{
    width: 100%;
    height: 30vw;
}

.imgContainer{
    display: flex;
    height: 30vw;
    width: 100%;
}

.img1{
    background: url('../media/extension\ scaffold.jpeg');
    background-attachment: fixed;
    background-size: cover;
}

.img2{
    background: url('../media/internal\ steel.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    width: 50%;
}


.img3{
    background: url('../media/internal\ kitchen.jpg');
    background-attachment: fixed;
    width: 50%;
}

.img4{
    background: url('../media/extension\ scaffold.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#footer{
    background-color: darkslategray;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    min-height: 30vh;
}

