html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 10vw;
    transition: background 0.5s;
}

#header:hover{
    background: darkslategray;
}

a, ul{
    text-decoration: none;
    color: white;
    list-style: none;
    margin: 0;
    margin-right: 3vw;
}

.tabs{
    display: flex;
    gap: 5vw;
    height: 100%;
    margin-left: 0;
    transition: border 1s;
}

.tab{
    transition: border 0.2s;
}

.tab:hover{
    border-bottom: solid white;
    border-width: 0.5vw;
}

.dropdown{
    display: none;
}

li{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
    left: 3vw;
    font-weight: bold;
    font-size: 3vw;
    height: 100%;
    display: flex;
    align-items: center;
}

#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    width: 50%;
    text-align: center;
    font-size: 2vw;
    color: darkslategray;
}

.img1,.img2,.img3,.img4{
    width: 100%;
    min-height: 30vw;
}

.img1{
    background: url('../media/extension\ scaffold.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

.img2{
    background: url('../media/internal\ steel.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    width: 50%;
}


.img3{
    background: url('../media/internal\ kitchen.jpg');
    background-attachment: fixed;
    background-position: center;
    width: 50%;
}

.img4{
    background: url('../media/extension\ scaffold.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#footer{
    background-color: darkslategray;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    min-height: 30vh;
}

@media screen and (max-width: 700px){
    #header{
        height: 10vh;
    }

    .logo{
        font-size: 3vh;
    }

    #display{
        display: flex;
    }

    .tabs{
        display: none;
        position: absolute;
        flex-direction: column;
        padding: 0;
        margin: 0;
        top: 10vh;
        bottom: 0;
        text-align: center;
        animation: dropdown 0.5s forwards;
        width: 100%;
        gap: 0;
    }

    @keyframes dropdown{
        from{height: 0;}
        to{height: 80vh;}
    }

    .tab{
        background-color: darkslategray;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    li{
        display: flex;
        justify-content: center;
    }

    .dropdown{
        padding: 0;
        display: flex;
        height: 100%;
    }

    .icon{
        height: 40%;
    }

    .para{
        width: 70%;
        min-height: 50vw;
        font-size: 2vh;
    }

    .img1,.img2,.img3,.img4{
        width: 100%;
        min-height: 50vh;
    }


    .img1{
        background-attachment: scroll;

    }

    .img2{
        background-attachment: local;
    }


    .img3{
        background-attachment: scroll;
        background-position: bottom left;
        background-size: cover;
    }

    .img4{
        background: url('../media/housing\ estate.jpg');
        background-position: center;
        background-attachment: scroll;
    }


    #footer{
        min-height: 30vw;
    }
}